<ion-header>
  <ion-toolbar>
    <ion-title>todolist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Pages</ion-card-title>
    
    <ion-card-content>
      <ion-item href="home">
        <ion-label>
          <ion-icon name="home-outline"></ion-icon>
            Home
        </ion-label>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      
      <ion-input>

      </ion-input>
        <ion-checkbox>

        </ion-checkbox>
      
    </ion-card-content>
    
    <ion-card-content>
      <ion-input></ion-input>
        <ion-checkbox>

        </ion-checkbox>
    </ion-card-content>
    
    <ion-card-content>
      <ion-input></ion-input>
        <ion-checkbox>
          
        </ion-checkbox>
      
    </ion-card-content>

    <ion-card-content>
      <ion-input></ion-input>
      <ion-checkbox>

      </ion-checkbox>
    </ion-card-content>

    <ion-card-content>
      <ion-input></ion-input>
        <ion-checkbox>

        </ion-checkbox>
    </ion-card-content>

  </ion-card>
</ion-content>
