<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      
    </ion-card-title>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button href="login" shape="round" fill="outline">Criar Conta</ion-button>

      <ion-button color="danger" shape="round" fill="outline" href="login">
        <ion-icon slot="start" name="logo-google"> </ion-icon>
      </ion-button>
      <ion-button color="primary" shape="round" fill="outline" href="login">
        <ion-icon slot="start" name="logo-facebook"> </ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
