@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');



ion-content {
    --background: url('https://images.unsplash.com/photo-1608501821300-4f99e58bba77?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
}

ion-title {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
}

ion-card-title {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;

}

ion-button {
    text-align: right;
}

ion-card-subtitle {
    background-color: transparent;
}