@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap'); 

ion-card-title {
    text-align: center;
    font-family:  'Bungee Outline', cursive;        
}

ion-title {
    font-family: 'Bungee Outline', cursive;
}

img {
    height: 35px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top:50%;
    transform: translateY(-50%);
}