<ion-header>
  <ion-toolbar>
    <ion-title>images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Pages
    </ion-card-title>

    <ion-card-content>
      <ion-item href="home">
        <ion-label>
          <ion-icon name="home-outline"></ion-icon>
            Home
        </ion-label>
      </ion-item>
    </ion-card-content>
    <ion-card-content fullscreen>
          <ion-item>
            <ion-label>
              <ion-icon name="heart-sharp" color="danger">

              </ion-icon></ion-label>
            <ion-badge slot="end">34</ion-badge>
          </ion-item>
          <img src="../assets/fun1.jpg" />

    </ion-card-content>
    <ion-card-content fullscreen>
        <ion-item>
          <ion-label>
            <ion-icon name="heart-sharp" color="danger">

            </ion-icon>
          </ion-label>
          <ion-badge slot="end">60</ion-badge>
        </ion-item>
        <img src="../assets/fun.jpg" />
    </ion-card-content>
    <ion-card-content fullscreen>
      <ion-item>
        <ion-label>
          <ion-icon name="heart-sharp" color="danger">

          </ion-icon>
        </ion-label>
        <ion-badge slot="end">80</ion-badge>
      </ion-item>
      <img src="../assets/fun2.jpg" />
    </ion-card-content>
    <ion-card-content fullscreen>
      <ion-item>
        <ion-label>
          <ion-icon name="heart-sharp" color="danger">

          </ion-icon>
        </ion-label>
        <ion-badge slot="end">100</ion-badge>
      </ion-item>
      <img src="../assets/fun3.jpg" />
    </ion-card-content>
    <ion-card-content fullscreen>
      <ion-item>
        <ion-label>
          <ion-icon name="heart-sharp" color="danger">

          </ion-icon>
        </ion-label>
        <ion-badge slot="end">15</ion-badge>
      </ion-item>
      <img src="../assets/fun4.jpg" />
    </ion-card-content>
    <ion-card-content fullscreen>
      <ion-item>
        <ion-label>
          <ion-icon name="heart-sharp" color="danger">

          </ion-icon>
        </ion-label>
        <ion-badge slot="end">41</ion-badge>
      </ion-item>
      <img src="../assets/fun5.jpg" />
    </ion-card-content>
    
  </ion-card>

</ion-content>
